.articleContainer {
  display: flex;
  width: 750px;
  height: auto;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  margin-bottom: 15px;
}

.logoTitleDateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.logoContainer {
  width: 40px;
  height: 20px;
  margin-bottom: 5px;
}

.logoSourceContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 16px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add spacing between logo and text */
}

.source {
  font-size: 14px; /* Adjust the font size as needed */
  white-space: nowrap; /* Ensure text stays on a single line */
  overflow: visible;
  display: none;
}

.titleDateContainer {
  flex-grow: 1;
  margin-right: 30px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.title.hover {
  text-decoration: underline;
}

.date {
  color: rgba(255, 255, 255, 0.55);
  margin: 0;
}

.imgParentContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.imgChildContainer {
  width: 100px;
  height: 100px;
  margin-left: auto;
  position: relative;
}

.img {
  border-radius: 4px;
  width: 100px;
  height: 100px;
}

.playButtonOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid rgba(255, 255, 255, 0.7); /* Adjust transparency as needed */
}