.wallpaper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('./stock_image.jpg');
  /* image source https://www.freepik.com/free-vector/global-business-background-with-stock-chart-blue-tone_16406606.htm */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  color: white;
}
