.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height based on your needs */
}

.pContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: #00a000;
}

.red {
  color: #ff0000;
}

.gray {
  color: #808080
}

.span {
  vertical-align: middle;
}







