.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height based on your needs */
  color: white;
}

.pContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: #00a000;
}

.red {
  color: #ff0000;
}

.gray {
  color: #808080;
}

.span {
  vertical-align: middle;
}

.wallpaper {
  background: url('./stock_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh; /* Adjust as needed */
}

.chart {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}






