/* Add global styles here */

body {
  background-color: #002d4f;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.background {
  background-image: url('./img/background.jpg');
  background-position: center;
  background-attachment: fixed;
}